@import './base.css';
@import './presets/blue.css';
@import './presets/blueOrange.css';
@import './presets/cappuccino.css';
@import './presets/chocolate.css';
@import './presets/darkBlue.css';
@import './presets/darkGray.css';
@import './presets/deepPurple.css';
@import './presets/deepRed.css';
@import './presets/dracula.css';
@import './presets/drawmeow.css';
@import './presets/forest.css';
@import './presets/grape.css';
@import './presets/green.css';
@import './presets/lightBlue.css';
@import './presets/lightGray.css';
@import './presets/midnight.css';
@import './presets/monokai.css';
@import './presets/neutral.css';
@import './presets/nord.css';
@import './presets/orange.css';
@import './presets/pink.css';
@import './presets/purple.css';
@import './presets/rose.css';
@import './presets/sage.css';
@import './presets/sketchpad.css';
@import './presets/solarized.css';
